/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-6-21, 16:53:54
    Author     : xxx_032
*/


input[type="submit"],input[type="reset"]{
    margin: 8px auto;
    text-align: center;
}

input[type="submit"],input[type="reset"]{
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none;
    padding: 3px 12px;
    border: 1px solid #C2CFD8;
    border-radius: 5px;
    color: #697B91;
    font-weight: bold;

    background-color: #FFFEFB;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFEFB), to(#F5F9FC));
    background-image: -webkit-linear-gradient(top, #FFFEFB, #F5F9FC);
    background-image:    -moz-linear-gradient(top, #FFFEFB, #F5F9FC);
    background-image:     -ms-linear-gradient(top, #FFFEFB, #F5F9FC);
    background-image:      -o-linear-gradient(top, #FFFEFB, #F5F9FC);
    background-image:         linear-gradient(top, #FFFEFB, #F5F9FC);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFEFB', endColorstr='#F5F9FC',GradientType=0 );
    
    -webkit-box-shadow: 0px 1px 2px #ddd;
    -moz-box-shadow: 0px 1px 2px #ddd;
    box-shadow: 0px 1px 2px #ddd;
    
    text-shadow: 0px 1px 1px #ddd;
}
input[type="submit"],input[type="reset"]:active, input[type="submit"],input[type="reset"]:focus {
    box-shadow: none;
}
