/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-6-20, 18:20:04
    Author     : xxx_032
*/

.table 
{ 
width: 100%; 
padding: 0; 
margin: 0; 
} 
th{ 
font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
color: #4f6b72; 
border-right: 1px solid #C1DAD7; 
border-bottom: 1px solid #C1DAD7; 
border-top: 1px solid #C1DAD7; 
letter-spacing: 2px; 
text-transform: uppercase; 
text-align: left; 
padding: 10px 10px 10px 240px; 
background: #CAE8EA no-repeat; 
} 



td { 
border-right: 2px solid #C1DAD7; 
border-bottom: 1px solid #C1DAD7; 
background: #F5F5F5; 
font-size:14px; 
padding: 3px 3px 1px 10px; 
color: #4f6b72; 
} 


td.alt { 
background: #F5FAFA; 
color: #797268; 
} 
th.spec,td.spec,th1.spec { 
border-left: 1px solid #C1DAD7;
text-align:left;
} 
/*---------for IE 5.x bug*/ 
html>body td{ font-size:14px;} 
tr.select th,tr.select td ,tr.select th1
{ 
background-color:#CAE8EA; 
color: #797268; 
} 